.details{
    text-align: left;
    padding-top: 3%;
    padding-left: 9%;
}

.details2{
    text-align: center;
}

body {
    background-color: #dfdfdf;
    color:black;
    font-family:Verdana, Tahoma, sans-serif;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

nav a{
    color: rgb(9, 9, 9);
}

nav{
    background-color: #a5bece;
    padding-top: 15px;
    padding-bottom: 5px;
}

h4{
    font-family:Copperplate, 'Copperplate Gothic Light', fantasy;
}

.main h2 {
    font-size: 1em;
    font-family:Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 50px;
    text-align:left;
    color:black;
    text-align: center;
}

img {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.clothes-text h3 {
    font-family: fantasy;
    letter-spacing: 3px;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 30px;
    font-size: 2.7em;
}

.photo {
    font-size: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    padding: 23px;
    
}

.photo img{
    display:inline-block;
    width: 280px;
    height: 400px;
    margin-bottom: 5px;
    margin-top: 50px;
}

figure {
    text-align: center; 
    margin: 0;           
}

figcaption {
    font-size: 20px;    
    color: #333;       
    margin-top: 3px; 
    font-family: Millimetre-Regular;
    font-weight: 500;
}  